<h1>New meeting</h1>

<%= error_messages_for :meeting %>

<% form_for(@meeting) do |f| %>
  <p>
    <b>Whenitbe</b><br />
    <%= f.date_select :whenitbe %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', meetings_path %>
