<% for column in Clubber.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @clubber.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @clubber %> |
<%= link_to 'Back', :action => 'list' %>
