<h3>Absent Clubbers Report</h3>
<div id="change_view" >
    <% form_tag(:action => 'absent_report') do %>
    <table>
        <tr>
            <td valign='top'><%= render :partial => 'shared/select_meeting' %></td>
            <td valign='top'><%= render :partial => 'shared/select_class' %></td>
            <td><%=check_box_tag("combine_address", "1", true) %>Generate one label per address</td>
        </tr>
    </table>
    <%=  %>
    <%= submit_tag "Create report" %>
    <% end %>
</div>

